@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  text-align: center;
  @apply font-serif;
  box-sizing: border-box;
}

@layer components {

  .add-card-input {
    @apply text-left p-1 bg-indigo-900 text-white placeholder-gray-100 border-b border-gray-100 font-light font-sans m-3
  }

  .deck td, th {
    @apply py-3 px-5 border
  }

  .form-container {
    @apply bg-indigo-900 rounded-lg justify-center m-auto w-4/5 flex shadow-lg
  }

  .submit-btn {
    @apply bg-green-700 text-white p-3 uppercase font-normal font-sans m-3 rounded-md hover:opacity-80
  }

  .file-input {
    @apply file:bg-indigo-900 file:text-white file:border file:cursor-pointer file:rounded-md file:font-sans file:p-4 file:hover:bg-indigo-700 file:border-gray-100
  }

}



.delete-btn {
  background-color: rgb(130, 98, 98);
  width: 2em;
  margin: auto;
}