@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  text-align: center;
  @apply font-serif;
  box-sizing: border-box;
}

@layer components {

  .add-card-input {
    @apply text-left p-1 bg-indigo-900 text-white placeholder-gray-100 border-b border-gray-100 font-light font-sans m-3
  }

  .deck td, th {
    @apply py-3 px-5 border
  }

}



.delete-btn {
  background-color: rgb(130, 98, 98);
  width: 2em;
  margin: auto;
}

/* table.deck {
  margin-top: 40px;
  width: 100%;
  border-collapse: collapse;
}
 */

/* table.deck tr {
  border: 1px solid black;
} */

/* table.deck td {
  padding: 5px;
} */

ul {
  list-style: none;
}